$screen-sm-min: 320px;
$screen-xl-min: 1200px;

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

$default-width: 500px;


body {
  background-color: #2b2b2b;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: $default-width;
  margin: $default-width/10 auto;
  h1 {
    text-align: center;
  }
  .progressbar-container {
    cursor: pointer;
    position: relative;
    width: 100%;
    height:  calc($default-width / 10);
    border: 1px solid #FFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom:  calc($default-width / 100);
    .progressbar-complete {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background-color: #5225bd;
      border-radius: 10px;
      animation: g 2500ms infinite ease-in-out;
      z-index: 2;
      .progressbar-liquid {
        z-index: 1;
        width: 70px;
        height: 70px;
        animation: g 2500ms infinite ease-in-out, r 3000ms infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
        position: absolute;
        right: -5px;
        top: -10px;
        background-color: #5225bd;
        border-radius: 40%;
      }
    }
    .progress {
      z-index: 2;
    }
  }

  @include sm {
    max-width: $default-width - 100px;
  }

  @include xl {
    max-width: $default-width - 50px;
  }
}

@keyframes g {
  0% { background-color: #5225bd; }
  50% { background-color: #607e9e; }
  100% { background-color: #5225bd; }
}

@keyframes r {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}